@import "../../base/variables.scss";

.app__input {
  border: none;
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.4em;
  outline: none;
  font-family: $roboto-font;
  font-size: 1rem;
  color: $text-color;
  width: 100%;

  &:focus {
    border-bottom-width: 2px;
    border-bottom-color: $main-color;
  }
}
