@import "../../base/variables.scss";

.app__decoration {
  position: absolute;
  background-color: $main-color;
  border-radius: $border-radius $border-radius 0 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 0.6em;
}
