@import "../../base/variables.scss";

.app__button {
  background-color: $main-color;
  align-self: flex-start;
  color: $button-text-color;
  border-radius: 5px;
  padding: 0.6em 1em;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
  }
}
